<!DOCTYPE html>
<html>
  <head>
    <title>Alex's Website</title>
    <link rel="stylesheet" href="/static/css/main.css">
  </head>

   <div class="about">
     <body>

      <!-- Navbar -->
      <header>
        <div class="container">
          <h1 class="logo">Alex Hsia</h1>
          <strong><nav>
            <ul class="menu">
              <li><a href="/index.html">Home</a></li>
              <li><a href="/templates/about.html">About</a></li>
              <!-- <li><a href="home.html">Home</a></li>
              <li><a href="about.html">About</a></li> -->
              <li><a href="/static/Alex_resume.pdf">Resume</a></li>
            </ul>
          </nav></strong>
        </div>
      </header>

      <div class = "container">
        <div class = "row backcolor1">
          <div class = "column">
            <p> I plan to graduate with a Bachelors of Science in Computer Science Engineering in three years, so my expected graduation is May, 2021.
              Although I currently reside in Denver, Colorado, I used to live overseas in Asia due to my parents' international assignments.
              I've lived in Singapore, China, and Thailand.

              <br>

              I am also an incoming Application Development intern at The Vanguard Group.

              <br>

            </p>
            <img src= "/static/images/ww2.jpg" alt = "GermanInfantry" style="width:400px;height:400px;">

            <img src= "/static/images/napoleonic.jpg" alt = "FrenchSoldiers" style="width:400px;height:400px;">


            <p>
              In my free time, I enjoy painting historical miniatures and staying fit and healthy! I'm also currently learning German; Ich kann sprechen ein bisschen Deutsch
            </p>
          </div>
        </div>
      </div>
    </body>
  </div>
</html>