<div w3-include-html="/layout.html"></div>
{% block content %}
   <div class="about">
     <body>

      <div class = "container">
        <div class = "row backcolor1">
          <div class = "column">
            <p> I plan to graduate with a Bachelors of Science in Computer Science Engineering in three years, so my expected graduation is May, 2021.
              Although I currently reside in Denver, Colorado, I used to live overseas in Asia due to my parents' international assignments.
              I've lived in Singapore, China, and Thailand.

              <br>

              I am also an incoming Application Development intern at The Vanguard Group.

              <br>

            </p>
            <img src= "/static/images/ww2.jpg" alt = "GermanInfantry" style="width:400px;height:400px;">

            <img src= "/static/images/napoleonic.jpg" alt = "FrenchSoldiers" style="width:400px;height:400px;">


            <p>
              In my free time, I enjoy painting historical miniatures and staying fit and healthy! I'm also currently learning German; Ich kann sprechen ein bisschen Deutsch
            </p>
          </div>
        </div>
      </div>

      

      </body>
     
   </div>
 {% endblock %}